.certificate-item {
    display: flex;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 1.5%;
    margin: 0.5rem 0;    
    border-radius: 1rem;
}

.certificate-item:hover {
    color: white;
    background-color: #1a1a1a;
}

.certificate-item .icon {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 1em;
    overflow: hidden;
    margin-right: 2rem;
}

.certificate-item .info {
    width: calc(100% - 10rem);
}

.certificate-item .name {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.certificate-item .provider {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: #C0C0C0;
}

@media only screen and (max-width: 720px) {
    .certificate-item .icon {
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 1em;
        margin-right: 1.5rem;
    }
    
    .certificate-item .info {
        width: calc(100% - 8rem);
    }

    .certificate-item .name {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 1.4em;
    }
    
    .certificate-item .provider {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 0.9em;
        color: #C0C0C0;
    }
}

@media only screen and (max-width: 540px) {
    .certificate-item .icon {
        width: 5.5rem;
        height: 5.5rem;
        border-radius: 1em;        
        margin-right: 1rem;
    }
    
    .certificate-item .info {
        width: calc(100% - 6.5rem);
    }

    .certificate-item .name {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 1.2em;
    }
    
    .certificate-item .provider {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 0.85em;
        color: #C0C0C0;
    }
}

@media only screen and (max-width: 400px) {
    .certificate-item .icon {
        width: 4rem;
        height: 4rem;
        border-radius: 1em;        
        margin-right: 1rem;
    }
    
    .certificate-item .info {
        width: calc(100% - 6.5rem);
    }

    .certificate-item .name {
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: 1em;
    }
    
    .certificate-item .provider {
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 0.8em;
        color: #C0C0C0;
    }
}