.certificates-content {
    display: block;
    overflow: hidden;
    height: auto;
}

.certificates-content .react-reveal {
    width: auto;
}

.certificates-card {
    margin-top: 4rem;
    background: #404040;
}

.certificates-card .header-text {
    width: max-content;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
    color: white;
    margin-bottom: 4rem;
    margin-top: 0.5rem;
}

.certificates-card .header-text::after {
    display: block;
    content: '';
    width: 70%;
    height: 0.5rem;
    background-color: white;
    margin-top: 0.5rem;
}

@media only screen and (max-width: 720px) {
    .certificates-card .header-text {
        font-size: 2em;
        margin-bottom: 4rem;
    }

    .certificates-card .header-text::after {
        height: 0.5rem;        
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 540px) {
    .certificates-card .header-text {
        font-size: 1.8em;
        margin-bottom: 3.5rem;
    }

    .certificates-card .header-text::after {
        height: 0.5rem;        
        margin-top: 0.5rem;
    }
}

/*@media only screen and (max-width: 400px) {
    .certificates-card .header-text {
        font-size: 1.5em;
        margin-bottom: 2.8rem;
    }

    .certificates-card .header-text::after {
        height: 0.4rem;        
        margin-top: 0.5rem;
    }
}*/