.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
}

.navbar .wrapper {
    display: flex;
    width: 100%;
    max-width: 1920px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin: auto;
}

.navbar .logo {
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: white;
}

.navbar .right-nav-button {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.navbar .right-nav-button .nav-btn {
    background: rgba(57, 56, 56, 0.52);
    height: max-content;
    border-radius: 1em;
    margin: 0 0.5em;
    padding: 0.25em 1em;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: 'Ruluko', sans-serif;
}

.navbar .right-nav-button .nav-btn:hover {
    font-weight: bold;
}

.navbar.scrolled .right-nav-button .nav-btn:hover {
    background-color: #0071e3;
}

@media only screen and (max-width: 640px) {
    .navbar .right-nav-button {
        display: none;
    }

    .navbar .logo {
        font-size: 1.6em;
    }
}