@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: #222121;
}

#root {
    max-width: 1920px;
    margin: auto;
}

.content-container {
    display: flex;
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 30rem;
    width: 100%;
    overflow: hidden;
    margin: 1.5rem 0;
}

.react-reveal {
    margin: 0 1.5%;
}

img {
    width: 100%;
    object-fit: cover;
}